<html>
    <head></head>
    <body>
        <h1>Application</h1>
        To :
        <%= application.to %>
        <br>
        From :
        <%= application.from %>
        <br>
        Subject :
        <%= application.subject %>
        <br>        
        Purpose :
        <%= application.purpose %>
        <br>
        Timing :
        <%= application.timing %>
        <br>
        Description :
        <%= application.description %>
        <br>
        Applicant :
        <%= application.applicant %>
    </body>
</html>